---
title: "Blank template"
preheader: "A blank transactional template."
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <a href="https://www.deschutesdesigngroup.com">
              <img src="https://cdn.deschutesdesigngroup.com/email/mail/logo.png" width="400" alt="Deschutes Design Group LLC">
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-gray-600 bg-white rounded shadow-sm">
                <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
                  Hello,
                </h1>

                <div>Content Here</div>

              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <p class="m-0 mb-4 uppercase">
                  Deschutes Design Group LLC
                </p>

                <p class="m-0 italic">
                  Got a project you need done? Contact us today at <a class="text-blue-600" href="mailto:sales@deschutesdesigngroup.com">sales@deschutesdesigngroup.com</a> to get started.
                </p>

                <p class="cursor-default">
                  <a href="https://www.deschutesdesigngroup.com" class="text-blue-600 [text-decoration:none] hover:![text-decoration:underline]">Website</a>
                  &bull;
                  <a href="https://community.deschutesdesigngroup.com" class="text-blue-600 [text-decoration:none] hover:![text-decoration:underline]">Community Forums</a>
                  &bull;
                  <a href="https://www.deschutesdesigngroup.com/support" class="text-blue-600 [text-decoration:none] hover:![text-decoration:underline]">Support</a>
                  &bull;
                  <a href="https://solutions.deschutesdesigngroup.com/clientarea.php" class="text-blue-600 [text-decoration:none] hover:![text-decoration:underline]">My Account</a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
