<div class="py-2">
  <p class="cursor-default border-0 border-t-[0.5px] border-solid border-gray-300 px-6 pt-2 text-center text-xs">
    <a target="_blank" href="https://nitroenergy.com" class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Nitro Energy</a
    >
    &bull;
    <a target="_blank" href="https://nitroenergy.okta.com" class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Dashboard</a
    >
    &bull;
    <a
      target="_blank"
      href="https://mail.google.com/a/nitroenergy.com"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Email</a
    >
    &bull;
    <a target="_blank" href="https://nitroenergygroup.slack.com" class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Slack</a
    >
    &bull;
    <a
      target="_blank"
      href="https://apps.apple.com/us/app/adp-mobile-solutions/id444553167"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >ADP</a
    >
    &bull;
    <a
      target="_blank"
      href="https://apps.apple.com/app/id1551706634"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Sunobi</a
    >
    &bull;
    <a
      target="_blank"
      href="https://apps.apple.com/us/app/spotio-1-field-sales-app/id1321365455"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Spotio</a
    >
    &bull;
    <a
      target="_blank"
      href="https://nitroenergy.quickbase.com/"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Quick Base</a
    >
    &bull;
    <a
      target="_blank"
      href="https://reps.nitroenergy.com/pay-calculator-matrix"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
      >Pay Calculator</a
    >
    &bull;
    <a
      target="_blank"
      href="https://store.nitroenergy.com"
      class="text-gray-500 [text-decoration:none] hover:![text-decoration:underline]"
    >Store</a
    >
  </p>
</div>
